<ion-view view-title="Beacons">
    
    <!-- Contenuto della pagina principale -->
    <ion-content>
        <div class="list">
            <a data-ng-repeat="beacon in beacons" class="item item-thumbnail-left" href="#/beacon/{{beacon.id}}">
                <img ng-src="{{beacon.url}}">
                <h2>{{beacon.nome}}</h2>
                <p>{{beacon.descrizione}}</p>
            </a>
        </div>
        <h2>{{stato.messaggio}}</h2>
        <button on-tap="aggiorna()" class="button button-block button-positive">Aggiorna</button>
        <div class="padding"></div><div class="padding"></div>
    </ion-content>
  <!-- Fine contenuto della pagina principale-->
</ion-view>
