<ion-view view-title="ApriPorta">

  <!-- Contenuto della pagina principale -->
  <ion-content>
      <div class="list card">
        <div class="item item-avatar">
          <img src="img/ionic.png">
          <h2>{{beacon.nome}} - {{beacon.id}}</h2>
          <p>{{beacon.descrizione}}</p>
        </div>
        <div class="item item-image">
          <img src="{{beacon.url}}">
        </div>
        <button on-tap="apri()" class="button button-block button-positive" ng-disabled="data.bloccato">Apri</button>
      </div>
        </ion-content>
  <!-- Fine contenuto della pagina principale-->
</ion-view>
