<ion-view view-title="Dispositivi">
  <!-- Contenuto della pagina principale -->
  <ion-content>
    <md-card data-ng-repeat="device in devices">
      <md-toolbar class="md-whiteframe-z2">
          <div layout="row" layout-align="center center">
            <p class="margin-home">{{device.name}}</p>
          </div>
        </md-toolbar>
        <md-card-title>
          <md-card-content  style="margin-top: -16px;">
        <strong class="rosso">Nome:</strong> {{device.name}}<br>
        <strong class="verde">Descrizione:</strong> {{device.description}}<br>
        <span ng-if="device._Beacon.properties"><strong  class="rosso"> Proximity:</strong> {{device._Beacon.properties.proximity}}<br></span>
        <span ng-if="device._Beacon.properties "><strong class="arancione"> Distanza:</strong> {{device._Beacon.properties.accuracy}}<br></span>
        <md-switch ng-if="(device._Beacon.properties.uuid === 0 || !device.automatic) && device.type === 'Lampada'" ng-disabled="device.disable" ng-model="device._GPIO.value" ng-change="change_state(device)"> {{device._GPIO.value ? "Spegni" : "Accendi"}}
        </md-switch>
        <md-button ng-if="(device._Beacon.properties.uuid === 0 || !device.automatic) && (device.type === 'Apriporta' || device.type === 'Cancello')" ng-disabled="device.disable" on-tap="open(device);"  class="md-raised md-primary">Apri</md-button>
        <md-button ng-if="(device._Beacon.properties.uuid === 0 || !device.automatic) && device.type === 'Cancello'" ng-disabled="device.disable" on-tap="close(device);"  class="md-raised md-primary">Chiudi</md-button>

      </md-card-content>
    </md-card-title>
      </md-card>
      <div class="list">
        <div data-ng-if="!devices.length" class="card">
          <div class="item white-background item-text-wrap">
            Nessun dispositivo trovato.
          </div>
        </div>
      </div>
    </ion-view>
  <md-button class="md-fab md-accent md-fab-bottom-right" aria-label="Add" on-tap="update()">
    <md-icon style="fill: white" md-svg-icon="img/refresh.svg"></md-icon>
  </md-button>
