<ion-view view-title="Dispositivi">

    <!-- Contenuto della pagina principale -->
    <ion-content>
        <div class="list">
            <div collection-repeat="dispositivo in dispositivi" class="item item-thumbnail-left item-toggle">
                <img ng-src="img/ionic.png">
                <h2>{{dispositivo.nome}}</h2>
                <p>{{dispositivo.descrizione}}</p>
                <p ng-if="dispositivo.uuid !== 0">Proximity: {{dispositivo.proximity}}</p>
                <p ng-if="dispositivo.uuid !== 0">Distanza: {{dispositivo.distanza}}</p>
                <label ng-if="dispositivo.uuid === 0 || !dispositivo.automatico" class="toggle toggle-assertive">
                  <input type="checkbox" ng-disabled="dispositivo.disabilitato" ng-model="dispositivo.stato" ng-change="cambia_stato(dispositivo)">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
            </div>
        </div>
        <button on-tap="aggiorna()" class="button button-block button-positive">Aggiorna</button>
        <div class="padding"></div><div class="padding"></div>
    </ion-content>
  <!-- Fine contenuto della pagina principale-->
</ion-view>
