<ion-view view-title="Domotics">

  <!-- Contenuto della pagina principale -->
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Benvenuto!
        </div>
        <div class="item item-text-wrap">
            Quest'app ti permette di controllare la tua casa in modo semplice e veloce!!!
        </div>
    </div>  
    <a href="#/beacons" class="button button-block button-positive">Elenco dispositivi!</a>
  </ion-content>
  <!-- Fine contenuto della pagina principale-->
</ion-view>
