<ion-view view-title="Impostazioni">
  <!-- Contenuto della pagina principale -->
  <ion-content>
    <div class="list">
      <label class="item white-background item-input">
        <span class="input-label">Indirizzo</span>
        <input type="text" ng-model="settings.url">
      </label>
      <label class="item white-background item-input">
        <span class="input-label">porta</span>
        <input type="text" ng-model="settings.port">
      </label>
      <md-button style="margin-top: 26px" on-tap="save()" class="md-raised md-primary">
        Salva
      </md-button>
    </div>
    <md-button style="margin-top: 26px" on-tap="search()" class="md-raised md-primary">
      Ricerca server
    </md-button>
    <div data-ng-if="servers.length">
    <md-card data-ng-repeat="server in servers">
      <md-toolbar class="md-whiteframe-z2">
          <div layout="row" layout-align="center center">
            <p class="margin-home">Server {{$index + 1}}</p>
          </div>
        </md-toolbar>
        <md-card-title>
          <md-card-title-media>
            <img src="img/raspberry.jpg" class="logo3 md-media-lg card-media">
          </md-card-title-media>
          <md-card-content style="margin-top: -16px;">
            <p>{{server.name}}</p>
            <p>{{server.ip}}</p>
            <p>{{server.port}}</p>
            <md-button style="margin-top: 26px" on-tap="connect(server)" class="md-raised md-primary">
              Connettiti
            </md-button>
          </md-card-content>
        </md-card-title>
      </md-card>
    </div>
  </ion-content>
  <!-- Fine contenuto della pagina principale-->
</ion-view>
