<ion-view view-title="Impostazioni">
  <!-- Contenuto della pagina principale -->
  <ion-content>
    <div class="list">
      <label class="item white-background item-input">
        <span class="input-label">Indirizzo</span>
        <input type="text" ng-model="settings.url">
      </label>
      <label class="item white-background item-input">
        <span class="input-label">porta</span>
        <input type="text" ng-model="settings.port">
      </label>
      <label class="item white-background">
        <button class="button button-block button-positive" ng-click="save()">Salva</button>
      </label>
    </div>
    <label class="item white-background">
      <button class="button button-block button-positive" ng-click="search()">Ricerca server</button>
    </label>
    <div class="list" data-ng-if="servers.length">
      <div data-ng-repeat="server in servers" class="item item-thumbnail-left item-button-right">
        <img data-ng-src="img/raspberry.jpg">
        <h2>{{server.name}}</h2>
        <p>{{server.ip}}</p>
        <p>{{server.port}}</p>
        <button class="button button-positive" data-ng-click="connect(server);">
          Connettiti
        </button>
      </div>
    </div>
  </ion-content>
  <!-- Fine contenuto della pagina principale-->
</ion-view>
