<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">SignUp</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup()">Chiudi</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <img class="full-image" src="{{signupData.image.src}}" data-ng-click="newImage()">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" data-ng-model="signuponData.username" data-ng-change="checkUsername()" placeholder="Username">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input type="text" data-ng-model="signuponData.name" placeholder="Nome">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Cogname</span>
        <input type="text" data-ng-model="signuponData.lastname" placeholder="Cognome">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" data-ng-model="signuponData.password" placeholder="Password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Conferma Password</span>
        <input type="password" data-ng-model="signuponData.conferma_password" placeholder="Conferma password">
      </label>
    </div>
    <label class="item">
      <button class="button button-block button-positive" ng-click="doSignup()">SignUp</button>
    </label>
    <br><br><br>
  </ion-content>
</ion-modal-view>
